///============================
/// Flex
///============================
$flex: flex;

.#{$flex} {
  display: flex;
}

.dc {
  flex-direction: column;
}
.#{$flex}-dc {
  @extend .#{$flex};
  @extend .dc;
}
.dcr {
  flex-direction: column-reverse;
}
.#{$flex}-dcr {
  @extend .#{$flex};
  @extend .dcr;
}
.dr {
  flex-direction: row;
}
.#{$flex}-dr {
  @extend .#{$flex};
  @extend .dr;
}
.drr {
  flex-direction: row-reverse;
}
.#{$flex}-drr {
  @extend .#{$flex};
  @extend .drr;
}

/* flex-wrap */
.fw {
  -ms-flex-wrap: wrap;
  -webkit-box-lines: multiple;
  flex-wrap: wrap;
}

.#{$flex}-fw {
  @extend .#{$flex};
  @extend .fw;
}

.jce {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.#{$flex}-jce {
  @extend .#{$flex};
  @extend .jce;
}

.jcc {
  -webkit-box-pack: center;
  justify-content: center;
}

.#{$flex}-jcc {
  @extend .#{$flex};
  @extend .jcc;
}

.jcb {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.#{$flex}-jcb {
  @extend .#{$flex};
  @extend .jcb;
}

.jca {
  -webkit-box-pack: justify;
  justify-content: space-around;
}

.#{$flex}-jca {
  @extend .#{$flex};
  @extend .jca;
}

.aie {
  -webkit-box-align: end;
  align-items: flex-end;
}

.#{$flex}-aie {
  @extend .#{$flex};
  @extend .aie;
}

.aic {
  -webkit-box-align: center;
  align-items: center;
}

.#{$flex}-aic {
  @extend .#{$flex};
  @extend .aic;
}

.ais {
  align-items: flex-start;
}

.#{$flex}-ais {
  @extend .#{$flex};
  @extend .ais;
}

.#{$flex}-center {
  @extend .#{$flex};
  @extend .aic;
  @extend .jcc;
}

.#{$flex}1 {
  flex: 1;
}

// common
@mixin transition(
  $name: all,
  $type: cubic-bezier(0, 0.65, 0.02, 1.02),
  $dur: 0.3s
) {
  transition: $name $type $dur;
}
$border-color: #e3e5e9;
$primary: RGBA(16, 140, 207, 1);
$secendray: #666;
$text: #333;
$transition-dur: 0.2s;
.wrapper {
  width: 1300px;
  margin: 0 auto;
}

.nav {
  height: 80px;
  li + li {
    margin-left: 50px;
  }
  a {
    color: $text;
    @include transition(all, linear);
    &:hover,
    &.active {
      color: $primary;
    }
  }
  .wechat {
    position: relative;
    display: block;
    width: 26px;
    height: 22px;
    margin-left: 50px;
    cursor: pointer;
    background: url('../assets/images/wechat.png') center no-repeat;
    & > span {
      display: block;
      position: absolute;
      top: 22px;
      left: -42px;
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      @include transition();
    }
    &:hover {
      background: url('../assets/images/wechat-hover.png') center no-repeat;
      & > span {
        visibility: visible;
        opacity: 1;
        transform: translateY(5px);
      }
    }
  }
}

.banner-infos {
  position: absolute;
  width: 1000px;
  height: 85%;
  top: 10%;
  text-align: center;
  color: #fff;

  h3 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  & > p {
    font-size: 18px;
  }

  .product-name {
    position: absolute;
    bottom: 0;
    right: 20%;
    text-align-last: left;
    line-height: 1.5;
    &::before {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      position: relative;
      top: -10px;
      background-color: #fff;
    }
  }
}

.slick-dots {
  text-align: center;
  margin-top: 10px;
  li {
    display: inline-block;
    width: 30px;
    height: 4px;
    background: RGBA(213, 213, 213, 1);
    margin-left: 10px;
    button {
      border: 0;
      overflow: hidden;
      text-indent: -9999px;
    }

    &.slick-active {
      background: $primary;
    }
  }
}

.section {
  margin-top: 70px;

  @at-root .section__header {
    text-align: center;

    h3 {
      font-size: 36px;
      font-weight: bolder;
    }

    p {
      margin: 20px 0 40px;
      text-transform: uppercase;
      font-size: 16px;
      color: RGBA(124, 124, 124, 1);
    }
  }
}

.production-video {
  background: RGBA(233, 233, 233, 1);

  .description {
    width: 430px;
    line-height: 2;
    padding: 40px;
  }
  .video {
    flex: 1;
  }
}

.production-advantages {
  height: 577px;
  background: url('../assets/images/bg02.png') center/cover no-repeat;

  .advantages {
    height: 577px;
    color: white;
    text-align: center;
  }
  .advantages__item {
    .icon {
      display: inline-block;
      width: 190px;
      height: 161px;
      border-radius: 10px;
      background: RGBA(16, 140, 207, 0.3) url('../assets/images/icon1.png')
        center no-repeat;
    }
    .icon2 {
      background-image: url('../assets/images/icon2.png');
    }
    .icon3 {
      background-image: url('../assets/images/icon3.png');
    }

    h4 {
      font-size: 20px;
      margin: 30px 0 10px;
      font-weight: 500;
    }

    hr {
      display: inline-block;
      width: 30px;
      border-top: 2px solid white;
    }
    p {
      margin-top: 20px;
      line-height: 2;
    }
  }
}

.industry {
  flex-wrap: wrap;

  .industry-card {
    cursor: pointer;
    position: relative;
    width: 638px;
    height: 307px;
    margin-bottom: 20px;
    font-size: 0;
    overflow: hidden;

    &:nth-child(2n) {
      margin-left: 20px;
    }

    img {
      width: 100%;
      @include transition(all, ease);
    }
  }

  .industry-card__info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 20px 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 16px;

    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 0.5) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 0.5) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );

    h4 {
      font-size: 30px;
      margin-bottom: 15px;
      @include transition(all, ease);
    }
    p {
      height: 45px;
      line-height: 1.5;
      @include transition(all, ease);
      transition-delay: 0.1s;
    }
  }

  .industry-card:hover {
    img {
      transform: scale(1.1);
    }

    .industry-card__info {
      h4 {
        transform: translateY(-10px);
      }
      p {
        transform: translateY(-10px);
      }
    }
  }
}

.technical {
  padding: 50px 0;
  height: 700px;
  background: url(../assets/images/bg01.png) center/cover no-repeat;
}
.fly {
  text-align: center;
  margin-bottom: 30px;
}

.parameter__item {
  width: 200px;
  color: white;
  text-align: center;
  margin-bottom: 40px;

  i {
    display: inline-flex;
    width: 54px;
    height: 54px;
    border-radius: 54px;
    border: 1px solid rgba($color: #fff, $alpha: 0.5);
    @extend .#{$flex}-center;
    margin-bottom: 20px;
  }
  p {
    margin-top: 10px;
  }
}

.home-news {
  flex-wrap: wrap;
}
.home-news__item {
  position: relative;
  width: 580px;
  height: 315px;
  margin-bottom: 40px;
  border: 1px solid $border-color;
  overflow: hidden;
}
.home-news__detail {
  cursor: pointer;
  padding: 35px;
  line-height: 1.5;

  .date {
    color: $secendray;
    font-size: 15px;
  }

  h3 {
    font-size: 26px;
    margin: 10px 0 25px;
  }

  p {
    color: $secendray;
    height: 90px;
    overflow: hidden;
    text-emphasis: emphasis;
  }

  .actions {
    margin-top: 30px;
    color: $primary;

    span {
      border-bottom: 1px dotted $primary;
      font-size: 18px;
    }
    i {
      font-size: 22px;
    }
  }
}

.home-news__img,
.title-go {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.home-news__img {
  @include transition();
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  // transition-delay: 0.3s;
  img {
    width: 100%;
  }
}
.title-go {
  background-color: rgba($color: #000000, $alpha: 0.4);
  color: white;
  @extend .#{$flex}-center;
  flex-direction: column;

  h3 {
    font-size: 25px;
    margin-bottom: 34px;
  }

  a {
    display: block;
    color: white;
    padding: 6px 20px;
    border: 1px solid rgba($color: #fff, $alpha: 0.7);
    border-radius: 20px;
    font-size: 18px;
    @include transition();

    i {
      display: inline-block;
      font-size: 22px;
      vertical-align: -3px;
      margin-left: 5px;
      @include transition();
    }

    &:hover {
      border-color: rgba($color: #fff, $alpha: 1);

      i {
        transform: translateX(5px);
      }
    }
  }
}

.home-news__item:hover {
  .home-news__detail {
    opacity: 0;
  }
  .home-news__img {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.read-more {
  text-align: center;
  a {
    display: inline-block;
    background: $primary;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;

    &:hover {
      background-color: rgba($color: rgb(13, 123, 183), $alpha: 1);
    }
  }
}

.cooperation {
  margin-top: 87px;
  height: 300px;
  background: url(../assets/images/bg03.png) center/cover no-repeat;
}
.cooperation-list {
  width: 1000px;
}
.cooperation__item {
  text-align: center;
  color: #fff;

  i {
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url('../assets/images/icon4.png') center no-repeat;
  }

  h3 {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &:nth-child(2) {
    i {
      background-image: url('../assets/images/icon5.png');
    }
  }

  &:nth-child(3) {
    i {
      background-image: url('../assets/images/icon6.png');
    }
  }
}
.footer {
  background: RGBA(30, 30, 35, 1);
  padding: 50px 0;
  color: white;
  a {
    color: RGBA(124, 124, 124, 1);

    &:hover {
      color: $primary;
    }
  }

  .footer-menu {
    margin-right: 85px;
    li {
      margin-bottom: 20px;
      &:first-child {
        position: relative;
      }
      &:first-child::after {
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 4px;
        left: 0;
        bottom: -10px;
        background: $primary;
        content: '';
      }

      i {
        color: $primary;
        font-size: 20px;
        vertical-align: -3px;
        margin-right: 5px;
      }
    }
  }
}
.qrcode {
  text-align: center;
  p {
    margin-top: 10px;
    color: RGBA(124, 124, 124, 1);
  }
}

.copyright {
  background: RGBA(21, 21, 25, 1);
  color: RGBA(124, 124, 124, 1);
  padding: 15px 0 20px;

  a {
    color: RGBA(124, 124, 124, 1);
  }

  .links {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid RGBA(124, 124, 124, 0.6);
  }
}
