///============================
/// Flex
///============================
$flex: flex;

.#{$flex} {
  display: flex;
}

.dc {
  flex-direction: column;
}
.#{$flex}-dc {
  @extend .#{$flex};
  @extend .dc;
}
.dcr {
  flex-direction: column-reverse;
}
.#{$flex}-dcr {
  @extend .#{$flex};
  @extend .dcr;
}
.dr {
  flex-direction: row;
}
.#{$flex}-dr {
  @extend .#{$flex};
  @extend .dr;
}
.drr {
  flex-direction: row-reverse;
}
.#{$flex}-drr {
  @extend .#{$flex};
  @extend .drr;
}

/* flex-wrap */
.fw {
  -ms-flex-wrap: wrap;
  -webkit-box-lines: multiple;
  flex-wrap: wrap;
}

.#{$flex}-fw {
  @extend .#{$flex};
  @extend .fw;
}

.jce {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.#{$flex}-jce {
  @extend .#{$flex};
  @extend .jce;
}

.jcc {
  -webkit-box-pack: center;
  justify-content: center;
}

.#{$flex}-jcc {
  @extend .#{$flex};
  @extend .jcc;
}

.jcb {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.#{$flex}-jcb {
  @extend .#{$flex};
  @extend .jcb;
}

.jca {
  -webkit-box-pack: justify;
  justify-content: space-around;
}

.#{$flex}-jca {
  @extend .#{$flex};
  @extend .jca;
}

.aie {
  -webkit-box-align: end;
  align-items: flex-end;
}

.#{$flex}-aie {
  @extend .#{$flex};
  @extend .aie;
}

.aic {
  -webkit-box-align: center;
  align-items: center;
}

.#{$flex}-aic {
  @extend .#{$flex};
  @extend .aic;
}

.ais {
  align-items: flex-start;
}

.#{$flex}-ais {
  @extend .#{$flex};
  @extend .ais;
}

.#{$flex}-center {
  @extend .#{$flex};
  @extend .aic;
  @extend .jcc;
}

.#{$flex}1 {
  flex: 1;
}

// common
@mixin transition(
  $name: all,
  $type: cubic-bezier(0, 0.65, 0.02, 1.02),
  $dur: 0.3s
) {
  transition: $name $type $dur;
}
$border-color: #e3e5e9;
$primary: RGBA(16, 140, 207, 1);
$secendray: #666;
$text: #333;
$transition-dur: 0.2s;
.wrapper {
  width: 1300px;
  margin: 0 auto;
}

.nav {
  height: 80px;
  li + li {
    margin-left: 50px;
  }
  a {
    color: $text;
    @include transition(all, linear);
    &:hover,
    &.active {
      color: $primary;
    }
  }
  .wechat {
    position: relative;
    display: block;
    width: 26px;
    height: 22px;
    margin-left: 50px;
    cursor: pointer;
    background: url('../assets/images/wechat.png') center no-repeat;
    & > span {
      display: block;
      position: absolute;
      top: 22px;
      left: -42px;
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      @include transition();
    }
    &:hover {
      background: url('../assets/images/wechat-hover.png') center no-repeat;
      & > span {
        visibility: visible;
        opacity: 1;
        transform: translateY(5px);
      }
    }
  }
}
.banner {
  position: relative;
}

.banner-item {
  img {
    width: 100%;
  }
}
.banner-infos {
  position: absolute;
  width: 1000px;
  height: 85%;
  top: 10%;
  text-align: center;
  color: #fff;

  h3 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  & > p {
    font-size: 18px;
  }

  .product-name {
    position: absolute;
    bottom: 0;
    right: 20%;
    text-align-last: left;
    line-height: 1.5;
    &::before {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      position: relative;
      top: -10px;
      background-color: #fff;
    }
  }
}

.slick-dots {
  text-align: center;
  margin-top: 10px;
  li {
    display: inline-block;
    width: 30px;
    height: 4px;
    background: RGBA(213, 213, 213, 1);
    margin-left: 10px;
    button {
      border: 0;
      overflow: hidden;
      text-indent: -9999px;
    }

    &.slick-active {
      background: $primary;
    }
  }
}

.section {
  margin-top: 70px;

  @at-root .section__header {
    text-align: center;
    &.mt50 {
      margin-top: 50px;
    }
    h3 {
      font-size: 36px;
      font-weight: bolder;
    }

    p {
      margin: 20px 0 40px;
      text-transform: uppercase;
      font-size: 16px;
      color: RGBA(124, 124, 124, 1);
    }
  }
}

.production-video {
  background: RGBA(233, 233, 233, 1);

  .description {
    width: 430px;
    line-height: 2;
    padding: 40px;
  }
  .video {
    flex: 1;
  }
}

.production-advantages {
  height: 577px;
  background: url('../assets/images/bg02.png') center/cover no-repeat;

  .advantages {
    height: 577px;
    color: white;
    text-align: center;
  }
  @at-root .advantages__item {
    .icon {
      display: inline-block;
      width: 190px;
      height: 161px;
      border-radius: 10px;
      background: RGBA(16, 140, 207, 0.3) url('../assets/images/icon1.png')
        center no-repeat;
    }
    .icon2 {
      background-image: url('../assets/images/icon2.png');
    }
    .icon3 {
      background-image: url('../assets/images/icon3.png');
    }

    h4 {
      font-size: 20px;
      margin: 30px 0 10px;
      font-weight: 500;
    }

    hr {
      display: inline-block;
      width: 30px;
      border-top: 2px solid white;
    }
    p {
      margin-top: 20px;
      line-height: 2;
    }
  }
}

.industry {
  flex-wrap: wrap;

  .industry-card {
    cursor: pointer;
    position: relative;
    width: 638px;
    height: 307px;
    margin-bottom: 20px;
    font-size: 0;
    overflow: hidden;

    &:nth-child(2n) {
      margin-left: 20px;
    }

    img {
      width: 100%;
      @include transition(all, ease);
    }
  }

  .industry-card__info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 20px 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 16px;

    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 0.5) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 0.5) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );

    h4 {
      font-size: 30px;
      margin-bottom: 15px;
      @include transition(all, ease);
    }
    p {
      height: 45px;
      line-height: 1.5;
      @include transition(all, ease);
      transition-delay: 0.1s;
    }
  }

  .industry-card:hover {
    img {
      transform: scale(1.1);
    }

    .industry-card__info {
      h4 {
        transform: translateY(-10px);
      }
      p {
        transform: translateY(-10px);
      }
    }
  }
}

.technical {
  padding: 50px 0;
  height: 700px;
  background: url(../assets/images/bg01.png) center/cover no-repeat;
}
.fly {
  text-align: center;
  margin-bottom: 30px;
}

.parameter__item {
  width: 200px;
  color: white;
  text-align: center;
  margin-bottom: 40px;

  i {
    display: inline-flex;
    width: 54px;
    height: 54px;
    border-radius: 54px;
    border: 1px solid rgba($color: #fff, $alpha: 0.5);
    @extend .#{$flex}-center;
    margin-bottom: 20px;
  }
  p {
    margin-top: 10px;
  }
}

.home-news {
  flex-wrap: wrap;
}
.home-news__item {
  position: relative;
  width: 580px;
  height: 315px;
  margin-bottom: 40px;
  border: 1px solid $border-color;
  overflow: hidden;
}
.home-news__detail {
  cursor: pointer;
  padding: 35px;
  line-height: 1.5;

  .date {
    color: $secendray;
    font-size: 15px;
  }

  h3 {
    font-size: 26px;
    margin: 10px 0 25px;
  }

  p {
    color: $secendray;
    height: 90px;
    overflow: hidden;
    text-emphasis: emphasis;
  }

  .actions {
    margin-top: 30px;
    color: $primary;

    span {
      border-bottom: 1px dotted $primary;
      font-size: 18px;
    }
    i {
      font-size: 22px;
    }
  }
}

.home-news__img,
.title-go {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.home-news__img {
  @include transition();
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  // transition-delay: 0.3s;
  img {
    width: 100%;
  }
}
.title-go {
  background-color: rgba($color: #000000, $alpha: 0.4);
  color: white;
  @extend .#{$flex}-center;
  flex-direction: column;

  h3 {
    font-size: 25px;
    margin-bottom: 34px;
  }

  a {
    display: block;
    color: white;
    padding: 6px 20px;
    border: 1px solid rgba($color: #fff, $alpha: 0.7);
    border-radius: 20px;
    font-size: 18px;
    @include transition();

    i {
      display: inline-block;
      font-size: 22px;
      vertical-align: -3px;
      margin-left: 5px;
      @include transition();
    }

    &:hover {
      border-color: rgba($color: #fff, $alpha: 1);

      i {
        transform: translateX(5px);
      }
    }
  }
}

.home-news__item:hover {
  .home-news__detail {
    opacity: 0;
  }
  .home-news__img {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.read-more {
  text-align: center;
  a {
    display: inline-block;
    background: $primary;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;

    &:hover {
      background-color: rgba($color: rgb(13, 123, 183), $alpha: 1);
    }
  }
}

.cooperation {
  margin-top: 87px;
  height: 300px;
  background: url(../assets/images/bg03.png) center/cover no-repeat;
}
.cooperation-list {
  width: 1000px;
}
.cooperation__item {
  text-align: center;
  color: #fff;

  i {
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url('../assets/images/icon4.png') center no-repeat;
  }

  h3 {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &:nth-child(2) {
    i {
      background-image: url('../assets/images/icon5.png');
    }
  }

  &:nth-child(3) {
    i {
      background-image: url('../assets/images/icon6.png');
    }
  }
}
.footer {
  background: RGBA(30, 30, 35, 1);
  padding: 50px 0;
  color: white;
  a {
    color: RGBA(124, 124, 124, 1);

    &:hover {
      color: $primary;
    }
  }

  .footer-menu {
    margin-right: 85px;
    li {
      margin-bottom: 20px;
      &:first-child {
        position: relative;
        margin-bottom: 30px;
      }
      &:first-child::after {
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 4px;
        left: 0;
        bottom: -10px;
        background: $primary;
        content: '';
      }

      i {
        color: $primary;
        font-size: 20px;
        vertical-align: -3px;
        margin-right: 5px;
      }
    }
  }
}
.qrcode {
  text-align: center;
  p {
    margin-top: 10px;
    color: RGBA(124, 124, 124, 1);
  }
}

.copyright {
  background: RGBA(21, 21, 25, 1);
  color: RGBA(124, 124, 124, 1);
  padding: 15px 0 20px;

  a {
    color: RGBA(124, 124, 124, 1);
  }

  .links {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid RGBA(124, 124, 124, 0.6);
  }
}

// 产品介绍
.product-banner {
  width: 100%;
  height: auto;
  top: 20%;
  h3 {
    font-size: 53px;
  }
}
.product-types {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10%;

  span {
    display: inline-block;
    width: 160px;
    line-height: 40px;
    border-radius: 40px;
    background-color: rgba($color: #fff, $alpha: 0.8);
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    @include transition();
    &:first-child {
      margin-right: 40px;
    }

    &:hover,
    &.active {
      color: #fff;
      background-color: RGBA(16, 140, 207, 0.8);
    }
  }
}

.wrapper--1200 {
  margin: 0 auto;
  width: 1200px !important;
}
.product-long-info {
  flex-direction: column;
  height: 414px;
  margin: 75px 0 100px;
  padding: 0 70px;
  text-align: center;
  background: url('../assets/images/bg04.png') center no-repeat;

  p {
    line-height: 2;
  }

  .scroll-down {
    margin-top: 50px;
    flex-direction: column;
    i {
      display: inline-block;
      width: 40px;
      height: 40px;
      border: 1px solid;
      border-color: transparent #000 #000 transparent;
      transform: rotate(45deg) scale(0.8);
      opacity: 0.5;
      animation: scrollBar 1s linear infinite;

      &:last-child {
        margin-top: -20px;
        animation-delay: 0.2s;
      }
    }
  }
}

@keyframes scrollBar {
  0% {
    opacity: 0.8;
    transform: rotate(45deg) scale(0.8);
  }
  50% {
    opacity: 0.1;
    transform: rotate(45deg) scale(0.8) translate(5px, 5px);
  }
  100% {
    opacity: 0.8;
    transform: rotate(45deg) scale(0.8);
  }
}

.parameter-detail {
  text-align: center;

  h3 {
    font-size: 38px;
  }

  & > p {
    color: #848484;
    line-height: 2;
    margin: 10px 0 60px;
  }

  .parameter-list {
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-evenly;

    img {
      filter: invert(100%);
    }

    .parameter__item {
      color: $text;
      i {
        border-color: rgba($color: #000000, $alpha: 0.4);
        margin-bottom: 10px;

        & + p {
          color: $secendray;
        }
      }
      p {
        margin-top: 0;
        line-height: 1.5;
      }
    }
  }
}

.product-advantage-detail {
  & > h3 {
    text-align: center;
    font-size: 38px;
    margin: 36px 0 42px;
  }
  img {
    width: 100%;
  }

  .product-detail-infos {
    margin-top: 85px;

    .text {
      flex: 1;
      padding-right: 55px;
      line-height: 2;
      color: $secendray;

      h3 {
        font-size: 32px;
        color: $text;
      }
    }
    .img {
      width: 732px;
    }

    &.flex-reverse {
      flex-direction: row-reverse;

      .text {
        padding-right: 0;
        padding-left: 55px;
      }
    }
  }
}

.add-cooperation {
  margin: 65px 0;
  padding-top: 50px;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.1);

  .title {
    color: #a8a8a8;
    margin-bottom: 15px;
  }

  .contact {
    width: 40%;
    h3 {
      font-size: 24px;
      margin-bottom: 15px;
    }
    p {
      line-height: 2;
      color: $secendray;
    }
  }

  .go-cooperation {
    a {
      display: inline-block;
      line-height: 40px;
      width: 270px;
      text-align: center;
      background-color: $primary;
      color: #fff;
      @include transition();

      &:hover {
        background-color: RGBA(16, 140, 207, 0.9);
      }
    }
  }
}

// 行业应用
.industry-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  @extend .#{$flex}-center;
  flex-direction: column;

  h3 {
    font-size: 52px;
  }
  p {
    line-height: 2;
    margin: 10px 0 40px;
    font-size: 22px;
  }

  a {
    display: block;
    width: 160px;
    line-height: 40px;
    border-radius: 40px;
    background: rgba($color: #fff, $alpha: 0.8);
    text-align: center;
    color: $text;
    font-size: 18px;
    @include transition();
    &:hover {
      background: rgba($color: #fff, $alpha: 1);
    }
  }
}

.industry-header {
  text-align: center;
  margin: 65px 0 40px;

  h3 {
    font-size: 38px;
  }
}

.industry-advantages__item {
  text-align: center;

  .icon {
    width: 190px;
    height: 130px;
    background: #f5f4f5 url('../assets/images/icon1-1.png') center no-repeat;
  }
  .icon2 {
    background-image: url('../assets/images/icon2-1.png');
  }
  .icon3 {
    background-image: url('../assets/images/icon3-1.png');
  }

  h4 {
    margin: 20px 0 0;
  }
  p {
    margin-top: 10px;
    line-height: 1.5;
    color: #7d7d7d;
  }
}
%pa {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.industry {
  .industry-card--square {
    width: 592px;
    height: 592px;

    &:nth-child(2n) {
      margin-left: 15px;
    }

    &::after {
      content: '';
      @extend %pa;
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 1%,
        rgba(0, 0, 0, 0.5) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 1%,
        rgba(0, 0, 0, 0.5) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );
    }

    .detail {
      @include transition();
      @extend %pa;
      color: #fff;
      padding: 45px 30px;
      z-index: 2;
      background: rgba($color: #1b3a82, $alpha: 0);
      transform: translateY(65%);

      h4 {
        font-size: 36px;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        line-height: 2;
      }
      strong {
        display: inline-block;
        font-size: 18px;
        margin: 20px 0;
      }
      .see-more {
        display: inline-block;
        width: 100px;
        line-height: 32px;
        border-radius: 32px;
        font-size: 16px;
        background: rgba($color: #fff, $alpha: 0.8);
        color: $text;
        text-align: center;
        margin-top: 10px;
      }

      .more {
        opacity: 0;
      }

      .more-tab {
        margin: 20px 0;
        li {
          margin-right: 10px;
          font-size: 18px;
          width: 146px;
          line-height: 42px;
          border-radius: 4px;
          background: rgba($color: #fff, $alpha: 0.2);
          text-align: center;
          @include transition();

          &:hover,
          &.active {
            color: rgba($color: #1b3a82, $alpha: 1);
            background: rgba($color: #fff, $alpha: 1);
          }
        }
      }

      .more-tab-content {
        overflow-y: auto;
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      .detail {
        transform: translateY(60%);
      }
    }
    &:hover {
      .detail {
        transform: translateY(0);
        background: rgba($color: #1b3a82, $alpha: 0.8);

        & > p,
        .see-more {
          display: none;
        }

        .more {
          opacity: 1;
        }
      }
    }
  }
}

.xuanji-advantage {
  padding: 0 60px;
  margin-top: 50px;
}
.xuanji-advantage__item {
  text-align: center;
  p {
    margin-top: 20px;
    color: #434343;
  }
}

.after-sale__tab-item {
  width: 238px;
  height: 216px;
  border: 1px solid #dedede;
  border-radius: 4px;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  @extend .#{$flex}-center;

  & + .after-sale__tab-item {
    margin-left: 27px;
  }

  i {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-bottom: 25px;
    background: url('../assets/images/support-icon.png') 0 0 no-repeat;
  }

  &:hover,
  &.active {
    i {
      background-position: 0 -320px;
    }
    span {
      position: relative;
      color: $primary;
      &::after {
        background: $primary;
      }
    }

    &::after {
      display: inline-block;
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      width: 20px;
      height: 20px;
      background: #fff;
      border: 1px solid;
      border-color: transparent #dedede #dedede transparent;
      transform: translateX(-50%) rotate(45deg);
    }
  }

  &:nth-child(2) {
    i {
      background-position: 0 -64px;
    }
    &:hover,
    &.active {
      i {
        background-position: 0 -384px;
      }
    }
  }
  &:nth-child(3) {
    i {
      background-position: 0 -128px;
    }
    &:hover,
    &.active {
      i {
        background-position: 0 -448px;
      }
    }
  }
  &:nth-child(4) {
    i {
      background-position: 0 -192px;
    }
    &:hover,
    &.active {
      i {
        background-position: 0 -512px;
      }
    }
  }
  &:nth-child(5) {
    i {
      background-position: 0 -256px;
    }
    &:hover,
    &.active {
      i {
        background-position: 0 -576px;
      }
    }
  }

  span {
    position: relative;
    @include transition();
    &::after {
      position: absolute;
      left: 50%;
      bottom: -15px;
      transform: translateX(-50%);
      display: inline-block;
      content: '';
      width: 53px;
      height: 4px;
      background: #d8d8d8;
      @include transition();
    }
  }
}

.after-sale__tab-content {
  margin: 45px 20px 0;
  padding: 75px;
  background: #f5f5f5;
  text-align: center;
  line-height: 2;

  ul {
    width: 1200px;
    max-height: 325px;
    margin: 0 auto;
    text-align: left;
    overflow-y: scroll;
  }
}

.self-support-list {
  text-align: center;
  .support-icon {
    width: 238px;
    height: 156px;
    border: 1px solid #dedede;
    border-radius: 4px;
  }

  .next-arrow {
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-color: transparent #dedede #dedede transparent;
    transform: rotate(-45deg);
    margin: 0 20px 0 10px;
  }

  p {
    margin-top: 15px;
  }
}

.devices-care {
  margin: 0 0 75px;
  padding: 0 50px;
}
.devices-care__item {
  background: #f7f7f7;
  border-radius: 4px;
  width: 375px;
  height: 375px;
  padding: 35px 25px;

  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    line-height: 1.5;
    padding: 10px 0;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    margin-bottom: 20px;
  }

  li {
    width: 120px;
    line-height: 34px;
    margin-top: 10px;
    padding: 0 10px;
    background: #dedede;
    border-radius: 4px;

    &::before {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: $primary;
      content: '';
      margin-right: 10px;
    }
  }
}

// 关于
.about-banner {
  width: 1000px;
  left: 50%;
  transform: translateX(-50%);
  align-items: flex-start;
  justify-content: center;

  h3 {
    font-size: 28px;
  }
  p {
    margin: 0;
    font-size: 14px;
    max-width: 380px;
  }
}

.growing {
  margin: 70px 0;
  position: relative;
  height: 462px;
  padding: 30px 0;
  background: #f5f4f5 url('../assets/images/curve2.png') left center/25%
    repeat-x;
  &::before,
  &::after {
    @extend %pa;
    content: '';
  }
  &::before {
    background: url('../assets/images/curve2.png') 50% center/25% repeat-x;
  }

  // &::after {
  //   background: url('../assets/images/curve.png') left center/40% repeat-x;
  // }

  header {
    strong {
      font-size: 32px;
    }
  }

  .growing-step {
    margin-top: 5%;
    .slick-arrow {
      top: -100px;
      left: auto;
      right: 0;
      background: #fff;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
      @extend .#{$flex}-center;
      &::after {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid;
        border-color: transparent #000 #000 transparent;
        transform: rotate(-45deg);
        content: '';
      }

      &.slick-prev {
        right: 80px;
        &::after {
          transform: rotate(135deg);
        }
      }
    }
  }

  .growing-step__item {
    position: relative;
    height: 200px;
    &::before {
      @extend %pa;
      content: '';
      background: url('../assets/images/curve.png') left center/100% repeat-x;
    }

    .text {
      padding: 35px 30px 0;
    }
    h3 {
      text-align: center;
      &::after {
        display: block;
        width: 26px;
        height: 26px;
        margin: 10px auto 20px;
        content: '';
        background: url('../assets/images/growing-circle.png') center no-repeat;
      }
    }
    p {
      line-height: 1.5;
      font-size: 14px;
    }
  }
}

.cooperation-form {
  margin: 50px 0;
}
